section {
  margin-top: 200px;
}

.conteudo-contet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
}
.conteudo-titulo h1 {
  font-size: 70px;
  margin-bottom: 30px;
  color: rgb(26, 7, 94);
}
.conteudo-titulo p {
  font-size: 25px;
  color: rgb(14, 13, 13);
}
